.dragndropZone {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  z-index: 1;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;

  text-align: center;

  background: rgba(255, 255, 255, 0.9);
  border: 1px dashed #ccc;
  border-radius: 5px;
}

.dragndropZone.active {
  display: flex;
}

.title {
  font-size: 30px;
  line-height: 40px;
  color: #000;
}

.text {
  font-size: 16px;
  line-height: 25px;
  color: #000;
}