.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 0 254px;
}

.app-form {
  margin-top: 15px;
}

.app-messages {
  margin-top: 50px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity .6s linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity .6s linear;
}
