.sent-messages-table {
  width: 100%;

  border-collapse: collapse;

  table-layout: fixed;
}

.sent-messages-header {
  border-bottom: 1px solid #ddd;
}

.sent-messages-heading:nth-child(1) {
  width: 16.22%;
}

.sent-messages-heading:nth-child(2) {
  width: 68.92%;
}

.sent-messages-heading:nth-child(3) {
  width: 14.86%;

  text-align: right;
}

.sent-messages-heading {
  padding-bottom: 9px;

  text-align: left;
  color: rgba(0, 0, 0, .4);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.sent-messages-data {
  padding: 10px 0 5px;

  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.sent-messages-data:nth-child(3) {
  text-align: right;
}

.color-success {
  color: #03a100;
}

.color-waiting {
  color: rgba(0, 0, 0, 0.4);
}

.color-warning {
  color: #ff6666;
}
